body {
  margin: 0px;
  font-family: 'Muli', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.myHeader {
  background-color: #00072d;
  height: 100px;
  display: flex;
  align-items: center;
}
.myHeader__logo {
  height: 70px;
  margin-left: 24px;
}

.mainContent {
  background-image: linear-gradient(#00072d, #0e6ba8);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 200px);
  color: white;
}
.mainContent__card {
  width: 400px;
  height: 400px;
  background: #000;
  overflow: hidden;
}
.mainContent__card--image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  transition: .5s;
  overflow: hidden;
}
.mainContent__card:hover .mainContent__card--image {
  opacity: .5;
  transform: translateX(30%);/*100%*/
}
.details {
  padding: 24px;
  margin-top: -424px;
  width: 50%;/*100%*/
  height: 100%;
  background: #1D9F6E;
  transition: .5s;
  transform-origin: left;
  transform: rotateY(-90deg);
}
.mainContent__card:hover .details {
  transform: rotateY(0deg);
}

.myFooter {
  display: flex;
  align-items: center;
  background-color: #0e6ba8;
  height: 100px;
  font-size: 14px;
}
.myFooter > a {
  margin-left: 30px;
}

::placeholder {
  color: white;
  font-family: 'Muli', sans-serif;
}

@media only screen and (max-width: 500px) {

  .myFooter {
    align-items: flex-start;
    flex-direction: column;
  }
  .myFooter > a {
    margin-left: 30px;
    margin-bottom: 4px;
  }
}
